[submodule "SogasEngine/external/imgui"]
	path = SogasEngine/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SogasEngine/external/glm"]
	path = SogasEngine/external/glm
	url = https://github.com/g-truc/glm.git
